In [1]:
import pandas as pd

/Users/manonledonne/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [55]:
customers = pd.read_csv("customers.csv")
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [35]:
customers = customers[customers['age'].notna()]

In [53]:
customers['age'].values

array([49., 25., 24., ..., 21., 18., 65.])

In [56]:
# age ranges by fashion industry standard
def age_range(age):
    if age <= 18:
        return "≤18"
    if 18 < age <= 24:
        return "19-24"
    elif 25 <= age <= 34:
        return "25-34"
    elif 35 <= age <= 44:
        return "35-44"
    elif 45 <= age <= 54:
        return "45-54"
    elif 55 <= age < 65:
        return "55-64"
    elif age >= 65:
        return "65+"

"""Adding rows into df"""

customers['Age_Range'] = customers['age'].map(age_range)

In [67]:
customers[customers.Age_Range == "25-34"].shape[0]

393292

In [37]:
n = 30000

In [57]:
under_18 = customers[customers['Age_Range'] == "≤18"]
under_18.count()
under_18 = under_18.iloc[:n]

In [58]:
under_18.count()

customer_id               30000
FN                         9900
Active                     9628
club_member_status        29961
fashion_news_frequency    29619
age                       30000
postal_code               30000
Age_Range                 30000
dtype: int64

In [59]:
eighteen_24 = customers[customers['Age_Range'] == "19-24"]
eighteen_24.count()
eighteen_24 = eighteen_24.iloc[:n]

In [60]:
eighteen_24.count()

customer_id               30000
FN                        11261
Active                    10875
club_member_status        29923
fashion_news_frequency    29715
age                       30000
postal_code               30000
Age_Range                 30000
dtype: int64

In [70]:
twenty5_34 = customers[customers['Age_Range'] == "25-34"]
twenty5_34.count()
twenty5_34 = twenty5_34.iloc[:n]

In [71]:
twenty5_34.count()

customer_id               30000
FN                         9027
Active                     8813
club_member_status        29940
fashion_news_frequency    29692
age                       30000
postal_code               30000
Age_Range                 30000
dtype: int64

In [72]:
thirty5_44 = customers[customers['Age_Range'] == "35-44"]
thirty5_44.count()
thirty5_44 = thirty5_44.iloc[n]

In [73]:
forty5_54 = customers[customers['Age_Range'] == "45-54"]
forty5_54.count()
forty5_54 = forty5_54.iloc[:n]

In [74]:
fifty5_64 = customers[customers['Age_Range'] == "55-64"]
fifty5_64.count()
fifty5_64 = fifty5_64.iloc[:n]

In [75]:
sixty5_up = customers[customers['Age_Range'] == "65+"]
sixty5_up.count()
sixty5_up = sixty5_up.iloc[:n]

In [76]:
df_all_ages = pd.concat([under_18, eighteen_24, twenty5_34, thirty5_44, forty5_54, fifty5_64, sixty5_up ])

In [78]:
df_all_ages = df_all_ages.drop(columns = ["FN","Active", "club_member_status", "postal_code", "fashion_news_frequency"])

In [81]:
df_all_ages = df_all_ages[df_all_ages.columns[:-1]]

In [79]:
df_all_ages['Age_Range'].value_counts()

Age_Range
≤18      30000
19-24    30000
25-34    30000
45-54    30000
55-64    30000
65+      30000
Name: count, dtype: int64

In [82]:
df_all_ages.dropna(subset=['Age_Range'])

                                              customer_id   age Age_Range
50      000270f6018e827d6d678efe815565a22668fb801b2b89...  17.0       ≤18
61      0002e6a17e3a75600888cac019846a600c9c6fe2bc1565...  18.0       ≤18
98      00045b41ba4df7a2e6c09093ec92873ea43a137cf2b24c...  18.0       ≤18
126     0005653de6979862791b1de079f271419bc73adcfece2c...  17.0       ≤18
165     0006ca2c5ecdbdcc1de5e72adffc6c33448fc2aaa62afe...  17.0       ≤18
...                                                   ...   ...       ...
942799  afe76fd2a9f776d8330c82a006f4b0662646110006dbbf...  65.0       65+
942810  afe7e316bdcd4fc8126a0a9c837078413f97a378ea0c5d...  69.0       65+
942821  afe89bf2eb4139a9d3e743561310df3c2a270592f6a3ca...  68.0       65+
942824  afe8bb5ec68cace88a187c15d1afcbee1f7f95fb59fdbd...  74.0       65+
942868  afea896cd5c432a3d5b09e551c7ff4ffe2525729598d06...  70.0       65+

[180000 rows x 3 columns]

In [83]:
df_all_ages.to_csv("customer_sample.csv")

In [84]:
transactions = pd.read_csv("transactions_train.csv")

In [86]:
transactions_final = transactions[transactions["customer_id"].isin(df_all_ages.customer_id)]

In [87]:
transactions_final

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31784595,2020-09-22,e24c46297981cf5081ede2b84eecdb50de2c16fac224bf...,757904007,0.016932,1
31784596,2020-09-22,e24c46297981cf5081ede2b84eecdb50de2c16fac224bf...,228257003,0.010153,1
31784597,2020-09-22,e24c46297981cf5081ede2b84eecdb50de2c16fac224bf...,885077001,0.008458,1
31784608,2020-09-22,e2712cbf58492ce9f4603a9bede5807e204f2375f97273...,870548001,0.025407,2
31784609,2020-09-22,e2712cbf58492ce9f4603a9bede5807e204f2375f97273...,870548001,0.033881,2

In [88]:
t_sample = transactions_30000.sample(frac  = .01)
t_sample

,t_dat,customer_id,article_id,price,sales_channel_id
17590273,2019-10-06,1605f45a42126c298cee7ff250fe524fad0fe316bdb644...,685814022,0.033881,1
18645751,2019-11-04,10a26db5f52f18afa2f80863c3461645f4f3bb36b40bd3...,737222003,0.010153,2
20794684,2019-12-31,73372f0470d1295639924a05bd9b84c5576fc4cb221db9...,689866001,0.002695,1
30527704,2020-08-20,0ee6638462d9f0939b0d4c54372120c22888af16cde6a2...,843793004,0.033881,2
19360853,2019-11-28,0866737360bafdf1479bcf0fd53ea95fd3076cd68a79e6...,824497001,0.012186,2
...,...,...,...,...,...
29539955,2020-07-27,4d21924bf58d278f290b8db02ea8c8c965df8d146fbf92...,899247005,0.021593,1
25308710,2020-05-02,0dfb0407365d8e150c1b8a535514c2f0082f6b75f92cd7...,876127001,0.024186,2
26900967,2020-06-06,91aafcb2cf691b82792c31dde6fe2108730ee9dc258354...,820507002,0.004780,1
24186795,2020-04-06,090d521efdf07346dc951aec88776e727e86dcb48d794b...,883033002,0.028322,2
29171470,2020-07-18,2a4a65de4daf3a63c6b17817f9f7b8bfaff8d36e7cc9b8...,859400007,0.059305,1

In [92]:
if t_sample['customer_id'].isin(df_all_ages['customer_id']).all():
    print("true")
else:
    print("false")

true

In [89]:
t_sample.to_csv("t_sampled.csv")